<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Data Scientist as a Service - Foster 500</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Comfortaa">

    <script src="https://kit.fontawesome.com/3c22b8c095.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2ffd606d7c.js"></script>
</head>
<br>


<!--#NAVBAR-->
<div class="container">
<nav class="navbar navbar-expand-lg sticky-top navbar-light navbar-f">
    <a class="navbar-brand" href="/">Foster<br style="margin: 10px 0;">500</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 5px 5px 5px 5px ">
        <ul class="navbar-nav mr-auto" style="padding: 25px 10px 25px 10px;">
            <li class="nav-item" style="padding: 0 5px;">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Best Practices</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Training</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Company</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">FAQ</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto" style="margin: 25px 20px">
            <a href="#" class="nav-link"><i class="fa fa-camera-retro fa-lg"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fa fa-pinterest fa-lg"></i></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin: -25px 5px;">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="border-radius: 35px; padding: 10px 18px;">Contact</button>
        </form>
    </div>
</nav>
</div>
<!--
<div>
    <div class="container justify-content-center"><h1 style="text-align: center; margin: 20px 20px 20px 20px;">We’d love to hear from you</h1>
        <p style="text-align: center; color: #0038FF;" >Get in touch and let us know how we can help</p>
    </div>
    <div class="d-flex flex-column">
        <div style="text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col" style="padding-left: 10%">
                        </br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.4521640432895!2d32.747668550618585!3d39.90889629419118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347eb83c08733%3A0xacbd2e34848a72e4!2sCoZone!5e0!3m2!1sen!2str!4v1616859790408!5m2!1sen!2str" width="450" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <p style="text-align: right; padding: 0 15px;">Mustafa Kemal Mah. Dumlupınar Blv. 280 G-1260 Çankaya/Ankara, Turkey</p>
                        <p style="text-align: right; padding: 0 15px;">+44 992312321312</p>
                        <p style="text-align: right; padding: 0 15px;">info@foster500.com</p>


                    </div>
                    <div class="col"  style="text-align: left; margin-top: 30px; margin-bottom: 50px;">

                        <form>
                          <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" placeholder="First name">
                          </div>

                          <div class="form-group">
                              <label>Company</label>
                              <input type="text" class="form-control" placeholder="Company">
                          </div>

                          <div class="form-group">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>

                          <div class="form-group">
                              <label for="exampleFormControlTextarea1">Your message</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>

            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="border-radius: 35px; padding: 10px 18px;">SEND</button>
                        </form>
                    </div>
                </div>
         </div>

</div></div></div>


-->

           <!--FOOTER-->


            <footer style="bottom:0px; width: 100%;" >
                <div style="background-color: black">
                    <div class="container">
                    <div class="row" style="padding: 20px">
                        <div class="col-8" style="margin-top: 40px; margin-bottom:40px;"><p style="font-size: 60px; color:white">Embrace growth with data science</p></div>
                        <div class="col-4" style="display: block;margin-top: 5%; margin-left: auto; margin-right: auto;width: 40%;">
                            <form>  <div class="form-group">
                                <label for="exampleInputEmail1" style="color:white">Subscribe to receive tips on how to scale up your startup with data-driven decisions</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">Some explanation here.</small>
                            </div></form>

                        </div>
                    </div>
                    <hr style="background-color: lightgray; margin:0 0; padding:0 0;">
                    <div class="row" style="margin: 0 0;">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark" style="background-color: transparent !important; font-family: Comfortaa;">
                                <a class="navbar-brand" href="#"><p style="font-size: 20px;">Foster<br>500</p></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" style="justify-content: center; margin-top: -35px" id="navbarSupportedContent">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Services</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Products</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Company</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                                <div><ul class="nav navbar-nav" style="justify-content: center; margin-top: -35px">
                                    <a href="#" class="nav-link"><i class="fa fa-camera-retro fa-lg"></i></a>
                                    <li>
                                        <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
                                    <li>
                                        <a href="#" class="nav-link"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </li>
                                </ul></div>
                            </nav>
                        </div>
                    </div>
                    </div></div>



    <div style="text-align: center; font-size: 12px;background-color: #0038FF; color: white;">
        <ul class="list-inline" style="margin-bottom: 0; padding: 9px;">
           <li class="list-inline-item"><p style="margin-bottom: 0px">Copyright © 2021 Foster 500. All rights reserved.</p></li>
           <li class="list-inline-item"><a href="#terms"><p style="margin-bottom: 0px; text-decoration: underline; color: white;"> Terms&Conditions</p></a></li>
           <li class="list-inline-item"><a href="#privacy"><p style="margin-bottom: 0px; text-decoration: underline; color: white;"> Privacy Policy</p></a></li>
        </ul>
    </div>

</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="static/js/javascript.js"></script>
</body>
</html>