<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Data Scientist as a Service - Foster 500</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Comfortaa">

    <script src="https://kit.fontawesome.com/3c22b8c095.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2ffd606d7c.js"></script>
</head>
<br>


<!--#NAVBAR-->
<div class="container">
<nav class="navbar navbar-expand-lg sticky-top navbar-light navbar-f">
    <a class="navbar-brand" href="/">Foster<br style="margin: 10px 0;">500</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 5px 5px 5px 5px ">
     <!--   <ul class="navbar-nav mr-auto" style="padding: 25px 10px 25px 10px;">
            <li class="nav-item active" style="padding: 0 5px;">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="padding: 0 5px;">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Company</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li style="padding: 0 5px;">
                <a class="nav-link" href="#">FAQ</a>
            </li>
        </ul> -->
        <ul class="nav navbar-nav ml-auto" style="margin: 25px 20px"> <!--
            <a href="#" class="nav-link"><i class="fa fa-camera-retro fa-lg"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fa fa-pinterest fa-lg"></i></a>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin: -25px 5px;" method="POST" action="#contact">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="border-radius: 35px; padding: 10px 18px;">Contact</button>
        </form>
    </div>
</nav>
</div>
<!--#HERO Section-->
<div class="container" style="justify-content: center;">
    <div class="row">
    <div class="d-flex row hero_text" style="display:flex; flex-wrap:wrap;">
        <div class="col-sm" style="margin:40px">
            <div class="row">
                <div class="col mini-box" style="padding: 5px 0 5px 0;"><h1 style="font-family: Comfortaa; color: #0038FF">Data Scientist as a Service</h1></div>
            </div>
            <div class="row">
                <div class="col mini-box" style="padding: 5px 0 5px 0;">
                <h3>We believe non-technical founders can build great tech companies!</h3>
                <h5>Analytics services for venture-backed startups</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="padding: 20px 0 20px 0;">
                    <form class="form-inline my-2 my-lg-0" style="margin: -25px 5px;" method="POST" action="#contact">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="border-radius: 35px; padding: 10px 18px;">Let's Talk</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <img class="hero_img hoverImages" style="position: absolute;max-width: 100%; max-height: 100%;" src="static/img/hero2.png" alt="Hero">
        </div>

    </div> </div>
</div>

<div style="margin: -45px 0px -45px -45px; padding: 0 0 0 0;">
    <div style="border: 15px solid #0038ff;background-color: #0038ff; transform: matrix(0.97, -0.25, 0.24, 0.97, 0, 0); z-index: -1; width: 150%; position: relative;">
    </div>
</div>
</br></br></br></br></br>
    <!--SERVICES
<div>
    <div class="container justify-content-center"><h1 style="text-align: center; margin: 20px 20px 20px 20px;">Services</h1>
        <p style="text-align: center;" >We offer services and consultancy while helping you develop in-house data science excellence</p>
    </div>
    <div class="d-flex flex-column">
        <div style="text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col" style="padding-left: 10%">
                        <h3 style="color: #0038ff; text-align: left; padding-bottom: 15px; padding-top: 15px; margin: 40px 0;">Business Intelligence</h3>
                        <p style="text-align: left; padding-bottom: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet. // Define KPIs, offer new analytics feature to your customers, UX etc.</p>
                    </div>
                    <div class="col">
                        <img style="width: 300px; height: 205px; height: 205px; margin: 40px 40px;" src="static/img/g1.png">
                    </div>
                </div>
         </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img style="width: 300px; height: 205px; height: 205px; margin: 40px 40px;" src="static/img/g2.png">
                    </div>
                    <div class="col">
                        <h3 style="color: #0038FF; text-align: left; padding-bottom: 15px; padding-top: 15px; margin: 40px 0;">Predictive Analytics</h3>
                        <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet. // Define KPIs, offer new analytics feature to your customers, UX etc.</p>
                    </div>
                </div></div>
            <div class="p-2" style="text-align: center;"><div class="container">
                <div class="row">
                    <div class="col" style="padding-left: 10%">
                        <h3 style="color: #0038FF; text-align: left; padding-bottom: 15px; padding-top: 15px; margin: 40px 0;">Data Pipelines</h3>
                        <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet. // Define KPIs, offer new analytics feature to your customers, UX etc.</p>
                    </div>
                    <div class="col">
                        <img style="width: 300px; height: 205px; margin: 40px 40px;" src="static/img/g3.png">
                    </div>
                </div></div>
            </div></div></div></div> -->

<div class="container" style="position: relative;padding-top: 10%;">
  <div class="container justify-content-center"><h1 style="text-align: center; margin: 20px 20px 20px 20px;">Services</h1>
        <h5 style="text-align: center; margin-bottom: 40px;" >We offer analytics services while helping you develop in-house data science excellence</h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Data Pipelines</h3>
        <p>High-performing data pipelines to automate processes from data collection to predictions with
            bias-conscious ethical design complying with GDPR</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Predictive Analytics</h3>
        <p>Predict the best course of action to achieve organizational goals like cost reduction, customer satisfaction, profitability</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Natural Language Processing</h3>
        <p>Convert your unstructured data into actionable insights with NLP techniques.
            Chatbots, Q&As, sentiments analysis, and in-depth survey insights. </p>
      </div>
    </div>
  </div>
    </br>
   <div class="row">
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Big Data</h3>
        <p>Analyze your industry and competitors from the discussions on the forums and social media to
            discover the potential for new features and identify the room for improvement</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Marketing & Sales Analytics</h3>
        <p>Identify the key drivers of performance. Leverage customer digital footprint to launch effective campaigns, enhance customer engagement, retention, and product recommendations</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Social Network Analysis</h3>
        <p>Delve into the anatomy of cultural fads and trends—offline phenomena often mediated by Twitter and Facebook</p>
      </div>
    </div>
  </div>
</div>



            <!--CUSTOMER LOGOS-->
            <div class="container">
                <div><h1 style="text-align: center; margin: 60px 20px">Some incredible companies we work with</h1></div>
                <div class="d-flex justify-content-center" style="display:flex; flex-wrap:wrap;margin: 20px 20px;">
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/logo_geometry.png"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;; max-height: 90px;" src="static/img/timteb.jpg"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/goldmans.jpg"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/logo_rez.png"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/bigg.svg"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/km_logo1.png"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/odtü_logo.jpg"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/yfyi.png"></div>
                    <div style="padding: 10px 10px"><img style="max-width: 150px;max-height: 90px;" src="static/img/ünlüco.jpg"></div>
                </div>
            </div>



            <!--FAQs-->
            <div class="container">
                <div><h1 style="text-align: center; margin: margin: 60px 20px;">Frequently Asked Questions</h1></div>
                <div class="accordion accordion-flush" id="accordionFlushExample" style="padding: 20px 20px;margin-top: 20px; margin-bottom: 50px;" >
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                What is DSaaS (Data Scientist as a Service)?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem; ">
                                Companies like Airbnb, Tinder, Pinterest were built by non-technical founders. We believe non-technical founders can build great products and  Data Scientist as a Service helps startups lay the groundwork for their product's core technology and make major business decisions.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                In-house data science team vs DSaaS. How to choose?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem;">It's often believed that the core functions and components of major decisions at a startup shouldn't be outsourced as it often leads to inefficiencies. While an in-house team is important to build, the average tenure of a data scientist for a technology company is 2.6 years. In SaaS companies, it's usually lower.
                                <br> <br> Another challenge is hiring the right person as fake data scientists are overpaid, real ones underpaid.
                                <br> <br> Lawyers and accountants work with many startups at a time as their needs often resemble till certain revenue threshold. Data science is not much different. DSaaS is hiring a senior data scientist to dedicate certain hours in a week the way you hire a lawyer or an accountant.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTw">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTw" aria-expanded="false" aria-controls="flush-collapseTw">
                                Who is DSaaS for?
                            </button>
                        </h2>
                        <div id="flush-collapseTw" class="accordion-collapse collapse" aria-labelledby="flush-headingTw" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem;">Non-technical founders and founders who want to delegate the technology and focus on the other business functions. Data Scientist as a Service is a full analytics service where we help you build your in-house team as well. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Is our data scientist part-time? How many hours per week can I can on him/her?’s scope?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem;">Base on the startup's need our data scientist will dedicate around 2-10 hours per week. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                                Will our data scientist work onsite, together with our team?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem;">We observed that building virtual teamwork build resilience against crises for SaaS teams. Video communication technologies like Zoom and project management platforms help us communicate clearly and complete the work on time. </div>
                        </div>
                    </div>    <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                            If we are not a venture backed company, does that mean we can’t work with Foster 500?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="padding:2rem 1.25rem;">You can still work with Foster 500 if you are not a venture-backed company. The reason we prefer venture-backed companies is solely based on their ability and willingness to facilitate data-driven growth. Analytics services and technology can be costly, so as long as you are willing to make marketing a data science priority and financially able to hire our services, we are happy to have you. </div>
                    </div>
                </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                Do you accept an opportunity to earn equity in my company as payment?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem;">Yes, we are open to discussing any form of pay-for-performance as milestones are achieved. As long as we can connect our work to the outcomes we feel comfortable taking risks with you.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                                What is outside of Foster 500’s scope?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="padding:2rem 1.25rem;">Foster 500 team focus on what we do best! It's the data science from design, collection to models, predictions, and storytelling of the data. Though we are happy to exchange ideas;
  </br></br><ul>
    <li>We are not offering full-stack development services.</li>
    <li>We are not a marketing agency.</li>
    <li>We don't do surveys.</li>
    <li>We don't do websites</li>
  </ul></div>
                        </div>
                    </div>
                </div>
            </div>


<div>
    <div class="container justify-content-center" id="contact"><h1 style="text-align: center; margin: 20px 20px 20px 20px;">We’d love to hear from you</h1>
        <p style="text-align: center; color: #0038FF;" >Get in touch and let us know how we can help</p>
    </div>
    <div class="d-flex flex-column">
        <div style="text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col" style="padding-left: 10%">
                        </br>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.4521640432895!2d32.747668550618585!3d39.90889629419118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347eb83c08733%3A0xacbd2e34848a72e4!2sCoZone!5e0!3m2!1sen!2str!4v1616859790408!5m2!1sen!2str" width="450" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <p style="text-align: right; padding: 0 15px;">Mustafa Kemal Mah. Dumlupınar Blv. 280 G-1260 Çankaya/Ankara, Turkey</p>
                        <p style="text-align: right; padding: 0 15px;"></p>
                        <p style="text-align: right; padding: 0 15px;">info@foster500.com</p>


                    </div>
                    <div class="col"  style="text-align: left; margin-top: 30px; margin-bottom: 50px;">








                        <form>
                          <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" placeholder="First name">
                          </div>

                          <div class="form-group">
                              <label>Company</label>
                              <input type="text" class="form-control" placeholder="Company">
                          </div>

                          <div class="form-group">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>

                          <div class="form-group">
                              <label for="exampleFormControlTextarea1">Your message</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>

                          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="border-radius: 35px; padding: 10px 18px;">SEND</button>
                        </form>
                    </div>
                </div>
         </div>

</div></div></div>
            <!--FOOTER-->


            <footer style="bottom:0px; width: 100%;" >
                <div style="background-color: black">
                    <div class="container">
                    <div class="d-flex row" style="padding: 20px">
                        <div class="col-sm-8" style="margin-top: 40px; margin-bottom:40px;"><p style="font-size: 60px; color:white">Embrace growth with data science</p></div>
                        <div class="col-sm-4" style="display: block;margin-top: 5%; margin-left: auto; margin-right: auto;">
                            <!--Subscriber List-->

                            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                            <style type="text/css">
                                #mc_embed_signup{}
                                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                            </style>
                            <div id="mc_embed_signup">

                            <form action="https://foster500.us1.list-manage.com/subscribe/post?u=29b3075dfffc22ac97026d29e&amp;id=5307640ae4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                <label for="exampleInputEmail1" style="color:white">Subscribe to receive tips on how to scale up your startup with data-driven decisions</label>
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="info@foster500.com" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29b3075dfffc22ac97026d29e_5307640ae4" tabindex="-1" value=""></div>
                                <div class="clear"></br> <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-light my-2 my-sm-0" style="border-radius: 35px; padding: 10px 18px;"></div>
                                </div>
                            </form> <!--End of subscriber list-->
                            </div>
                            </form>
                        </div>
                    </div>
                    <hr style="background-color: lightgray; margin:0 0; padding:0 0;">
                    <div class="row" style="margin: 0 0;">
                        <div class="container">
                            <nav class="navbar navbar-expand-lg navbar-dark text-white bg-dark" style="background-color: transparent !important; font-family: Comfortaa;">
                                <a class="navbar-brand" href="#"><p style="font-size: 20px;">Foster<br>500</p></a>
                            <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" style="justify-content: center; margin-top: -35px" id="navbarSupportedContent">
                       -->      <!--       <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Services</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Products</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Company</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">FAQ</a>
                                        </li>
                                    </ul>-->
                                </div>
                                <div> <!-- <ul class="nav navbar-nav" style="justify-content: center; margin-top: -35px">
                                    <a href="#" class="nav-link"><i class="fa fa-camera-retro fa-lg"></i></a>
                                    <li>
                                        <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a>
                                    <li>
                                        <a href="#" class="nav-link"><i class="fa fa-pinterest fa-lg"></i></a>
                                    </li>
                                </ul> --> </div>
                            </nav>
                        </div>
                    </div>
                    </div></div>



    <div style="text-align: center; font-size: 12px;background-color: #0038FF; color: white;">
        <ul class="list-inline" style="margin-bottom: 0; padding: 9px;">
           <li class="list-inline-item"><p style="margin-bottom: 0px">Copyright © 2021 Foster 500. All rights reserved.</p></li>
           <li class="list-inline-item"><a href="#terms"><p style="margin-bottom: 0px; text-decoration: underline; color: white;"> Terms&Conditions</p></a></li>
           <li class="list-inline-item"><a href="#privacy"><p style="margin-bottom: 0px; text-decoration: underline; color: white;"> Privacy Policy</p></a></li>
        </ul>
    </div>




</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="static/js/javascript.js"></script>
</body>
</html>
